:root {
    --primary: #1C1E41;
    --red-700: #D70000;
    --blue-100: #D4E7EF;
    --blue-200: #C9D1E2;
    --blue-700: #00729E;
    --blue-800: #4E5E74;
    --blue-900-50: #1C1E410A;

    --gray: #ddd;
    --gray-700: #6E6E6E;
    --gray-900-50: #08162A80;
    --gray-900: #08162ACF;

    --green-600: #589840;

    --border-color: #CCCCCC80;
}